{% extends "intranet/base.html" %}
{% load bootstrap_pagination %}
{% load bootstrap %}
{% block intranet_content %}
<header class="page-header">
    <h1>{{ page_title }}</h1>
</header>

<p>
  <em>{{total_companies}} {%if total_companies or total_companies < 1 %} accounts{%else%}account{%endif%}.</em>
  <a class="pull-right btn btn-primary" href="/intranet/jobfair_manager/companies/new">Create Account</a></p>
{% if companies|length > 0 %}
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Edit</th>
    <th>Company</th>
    <th>Username</th>
      <th>Email</th>
      <th>Invited</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for c in companies %}
  <tr>
    <td><a href="/intranet/jobfair_manager/companies/edit/{{c.id}}"><i class="icon-edit"></i> Edit</a></td>
    <td>{{c.first_name}}</td>
    <td>{{c.username}}</td>
      <td>{{c.email}}</td>
      <td>{% if c.invited %}<i class="icon-ok"></i>{%  endif  %}</td>
    <td>
        <a href="/intranet/jobfair_manager/companies/delete/{{c.id}}"><i class="icon-trash"></i> Delete</a>
        &middot;
        <a href="/intranet/jobfair_manager/companies/invite/{{c.id}}"><i class="icon-envelope"></i> Invite</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% if companies.has_other_pages %}
<hr>
{% bootstrap_paginate companies range=10 %}
{% endif %}
{% endif %}
{% endblock %}