{% extends "about/base.html" %}
{% block about_content %}
<header class="page-header">
<h1>Joining ACM@UIUC</h1>
</header>
<p>If you are interested in getting involved with ACM, the best way is to start showing up at events. There are many events every week, and you do not need to be a member to attend. Also, note that ACM, its executive board, and all of its SIGs have mailing lists. Mailing lists are a great way to stay informed on what ACM and SIGs are doing.</p>

<p>Once you've found your niche in ACM or one of its SIGs, becoming an official member is easy. To become an official member, you need to fill out a quick and easy form. The form is available in the ACM office; the cost is $40 for a lifetime membership. Benefits of membership include an account on the ACM cluster and eligibility for ACM officer positions. Drop by the ACM office any time between 9:00 AM and 5:00 PM and sign up!</p>
{% endblock %}