{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<header class="page-header">
<h1>ACM@UIUC Resume Book</h1>
</header>
<div class="row">
  <div class="span7">
    <h3>Students</h3>
    <p>The ACM resume book is a packet of resumes provided to interested companies who contact ACM. To be included please fill in the information below.</p>
    <p>If you have any questions <a href="mailto:corporate@acm.illinois.edu">email us</a>.</p>
    
  </div>
  <div class="span5">
    <h3>Recruiters</h3>
    <p>If you would like access to the ACM@UIUC Resume Book please email <a href="mailto:corporate@acm.illinois.edu">corporate@acm.illinois.edu</a>.</p>
  </div>
</div>
<div class="row">
  <div class="span7">
    <form class="well" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Upload a resume in PDF format. Must be smaller than 1MB.</p>
      {{ resume_form|bootstrap }}
      {{ resume_person_form|bootstrap }}
      <div class="control-group">
        <div class="controls">
          <p>By submitting this form you verify that all the information above is correct and give ACM@UIUC permission to distribute your resume to all interested parties.</p>
          <button type="submit" class="btn btn-primary" name="student" value="yes">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="span5">
    <form class="well" method="post">
      {% csrf_token %}
      {{ login_form|bootstrap }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" name="recruiter" value="yes">Login</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}