{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<header class="page-header">
<h1>ACM@UIUC Resume Book</h1>
</header>
<div class="row">
  <div class="span5">
    <h3>Update your resume</h3>
    <p>To add or update your resume, please fill in the information below.</p>
    <p>If you have any questions <a href="mailto:corporate@acm.illinois.edu">email us</a>.</p>
    
  </div>
  <div class="span6">
    <h3>Resume preview</h3>
    {% if resume_found %}
      <p>Here is a preview of the most recent resume we have from you.</p>
    {% else %}
      <p>We don't have your resume yet, so there's nothing to see here!</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="span5">
    <form class="well" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Upload a resume in PDF format. Must be smaller than 1MB.</p>
      {{ resume_form|bootstrap }}
      {{ resume_person_form|bootstrap }}
      <div class="control-group">
        <div class="controls">
          <p>By submitting this form you verify that all the information above is correct and give ACM@UIUC permission to distribute your resume to all interested parties.</p>
          <button type="submit" class="btn btn-primary" name="student" value="yes">Submit</button>
        </div>
      </div>
    </form>
  </div>
  {% if resume_found %}
  <div class="span6">
      <div class="resume-image-loader resume-referred-preview">
         <div class="well resume-referred-preview">
            <img src="/corporate/resume/student/thumb/{{ resume_id }}.png">
         </div>
      </div>
  </div>
  {% endif %}
</div>
{% endblock %}
