{% extends "base.html" %}
{% block content %}

<div class="row">
   <div class="span4">
      <h3>eLock Access</h3>
      <p>Request 24/7 access to Siebel and the ACM office.</p>
      <a class="btn" href="http://go.illinois.edu/elock">Request Access &raquo;</a>
   </div>
   <div class="span4">
      <h3>Join ACM@UIUC</h3>
      <p>Join one of the largest student chapters in the US.</p>
      <a class="btn" href="/about/join">Join ACM@UIUC &raquo;</a>
   </div>
   <div class="span4">
      <h3>SIG list</h3>
      <p>Special Interest Groups (SIGs) listing</p>
      <a class="btn" href="/sigs/">View SIG List &raquo;</a>
   </div>
</div>

<div class="row">
   <br />
   <div class="span4">
      <h3>Upcoming events</h3>
   </div>
</div>

{% include "cal/make_calendar_template.html" %}

{% endblock %}

{% block bottom_scripts %}
<script src="/static/js/make-calendar-scripts.js"></script>
{% endblock %}>
