{% extends "intranet/base.html" %}
{% load bootstrap_pagination %}
{% load bootstrap %}
{% load resume_lookup %}
{% block intranet_content %}
<header class="page-header">
<h1>Resume Manager</h1>
</header>
<ul class="nav nav-tabs">
  <li{% if sub_page == "resumes" %} class="active"{% endif %}>
    <a href="/intranet/resume/">Resumes</a>
  </li>
  <li{% if sub_page == "accounts" %} class="active"{% endif %}>
    <a href="/intranet/resume/accounts">Accounts</a>
  </li>
  <li class="pull-right">
    <a href="/corporate/resume/recruiter">Browse</a>
  </li>
</ul>

<p>
  <em>{{total_recruiters}} {%if total_recruiters or total_recruiters < 1 %} accounts{%else%}account{%endif%}.</em>
  <a class="pull-right btn btn-primary" href="/intranet/resume/accounts/new">Create Account</a></p>
{% if recruiters|length > 0 %}
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Company</th>
    <th>Level</th>
    <th>Username</th>
    <th>Email</th>
    <th>Expires</th>
    <th>Actions</th>
  <tr>
  </thead>
  <tbody>
  {% for r in recruiters %}
  <tr>
    <td>{{r.first_name}}</td>
    <td>{{r.level}}</td>
    <td>{{r.username}}</td>
    <td>{{r.email}}</td>
    <td>{{r.expires}}</td>
    <td>
        <a href="/intranet/resume/accounts/edit/{{r.id}}"><i title="Edit" class="icon-edit"></i></a>
        <a href="/intranet/resume/accounts/delete/{{r.id}}"><i title="Delete" class="icon-trash"></i></a></td>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% if recruiters.has_other_pages %}
<hr>
{% bootstrap_paginate recruiters range=10 %}
{% endif %}
{% endif %}
{% endblock %}
