{% extends "intranet/base.html" %}
{% load bootstrap %}
{% load resume_lookup %}
{% block intranet_content %}
<header class="page-header">
<h1>Resume Manager</h1>
</header>
<ul class="nav nav-tabs">
  <li{% if sub_page == "resumes" %} class="active"{% endif %}>
    <a href="/intranet/resume/">Resumes</a>
  </li>
  <li{% if sub_page == "accounts" %} class="active"{% endif %}>
    <a href="/intranet/resume/accounts">Accounts</a>
  </li>
  <li class="pull-right">
    <a href="/corporate/resume/recruiter">Browse</a>
  </li>
</ul>

{% if resume_count %}
<form method="post">
  {% csrf_token %}
  {{ resumes.management_form }}

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary pull-right" name="Save">Save</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Preview</th>
    <th>Data</th>
  <tr>
  </thead>
  <tbody>
  {% for r in resumes %}
  <tr>
    <td>
      {{r.id}}
      <label class="checkbox">{{r.approved}} <strong>Approve</strong></label>
      <label class="checkbox">{{r.DELETE}} <strong>Delete</strong></label>
      <div class="resume-image-loader resume-thumbnail">
        <img src="/intranet/resume/thumb/{{r.id.value}}.png">
      </div>
    </td>
    <td>
      <div class="resume-image-loader resume-thumbnail-top">
        <img src="/intranet/resume/thumb/top/{{r.id.value}}.png">
      </div>
      <strong>Name:</strong> {{r.id.value|pk_to_name}}<br>
      <strong>LDAP Name:</strong> {{r.id.value|pk_to_ldap_name}}<br>
      <strong>Level:</strong> {{r.id.value|pk_to_level}}<br>
      <strong>Graduation:</strong> {{r.id.value|pk_to_graduation}}<br>
      <strong>Seeking:</strong> {{r.id.value|pk_to_seeking}}<br>
      <strong>Posted on:</strong> {{r.id.value|pk_to_created_at}}<br>
      <a href="/intranet/resume/pdf/{{r.id.value}}.pdf">View full pdf</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary pull-right" name="Save">Save</button>
  </div>
</div>
</form>
{% else %}
<p>No resumes!</p>
{% endif %}
{% endblock %}