{% extends "base.html" %}
{% block top_styles %}
<style>
ol { list-style-type: upper-roman }
ol ol { list-style-type: upper-alpha }
ol ol ol { list-style-type: decimal }
ol ol ol ol { list-style-type: lower-roman }
</style>
{% endblock %}
{% block content %}
<header class="page-header">
<div class="well">
    <ol>
        <li>
            Name
            <ol>
            	<li>This organization shall be called the University of Illinois at Urbana-Champaign Student Chapter of the Association for Computing Machinery herein referred to as ACM@UIUC. All affiliated Special Interest Groups are herein referred to as SIGs.
            	</li>
            	<li>This organization may officially be referred to by any of the following terms:
            		<ol>
            			<li>University of Illinois at Urbana-Champaign Student Chapter of the Association for Computing Machinery
            			</li>
            			<li>Association for Computing Machinery at Urbana-Champaign
            			</li>
            			<li>ACM@UIUC
            			</li>
            		</ol>
            	</li>
            </ol>
        </li>
        <li>
            Purpose
            <ol>
            	<li>This organization shall promote an increased knowledge of the science, design, development, construction, languages, management, and applications of modern computing machinery.
            	</li>
            	<li>This organization shall promote communication and interaction between students interested in computing machinery, faculty and staff involved with computing machinery, and computing machinery itself.
            	</li>
            </ol>
        </li>
        <li>
            Membership
            <ol>
            	<li>Membership in ACM@UIUC shall be open to all current and former students, staff, and faculty at the University of Illinois at Urbana-Champaign.
            	</li>
            	<li>Membership is received through completion of the official membership form and the payment of requisite dues as prescribed by the Executive Council.
            	</li>
            	<li>Membership in ACM@UIUC can be resigned at any time upon filing a written resignation to the chapter Secretary.
            	</li>
            	<li>Membership may be revoked from any member demonstrating behavior that is a substantial violation of the official ACM Code of Integrity upon both a three-fourths affirmative vote of the Executive Council followed by a three-fourths affirmative vote of the current Active ACM membership respondents. These votes must be preceded by a hearing in accordance to with the Appeals Process.
            	</li>
            	<li>Members who have had their membership revoked can be reinstated in the next (or in a future) academic semester by a one-half affirmative vote of the Executive Council.
            	</li>
                <li>Membership Classifications
                    <ol>
                    	<li>Undergraduate Member - Members who are current undergraduate students at the University of Illinois.
                    	</li>
                    	<li>Graduate Member - Members who are current graduate students at the University of Illinois.
                    	</li>
                    	<li>Faculty/Staff Member - Members who are current faculty or staff of the University of Illinois at Urbana-Champaign.
                    	</li>
                    	<li>Active Member - Faculty/Staff, Undergraduate, and Graduate Members.
                    	</li>
                    	<li>Alumni Member - Members who are no longer affiliated with the University of Illinois at Urbana-Champaign, Members are automatically converted upon leaving the university.
                    	</li>
                    </ol>
                </ol>
            </li>
        </li>
        <li>
            Officers
            <ol>
            	<li class="header-small">ACM@UIUC shall have four official positions to represent the organization: Chair, Vice Chair, Treasurer, and Secretary.
            	</li>
            	<li>The officers will be elected each March in a specially designated election meeting chosen and publicized in good faith by the Executive Council and run by the Chair or by his or her appointed representative.
            	</li>
            	<li>No officer may hold more than one office in ACM@UIUC simultaneously.
            	</li>
            	<li>All officers must, upon election, become members of Association for Computing Machinery International.
            	</li>
                <li>
                    Elections
                    <ol>
                    	<li>All ACM@UIUC members present at the election meeting are eligible to vote in the election.
                    	</li>
                    	<li>Any Active Member who wishes to be considered for an official position is eligible to be elected. The candidate shall be responsible for informing the current Chair or his or her designee of his or her intention prior to the election and shall be afforded a reasonable period of time in which to address the voting membership
                    	</li>
                    	<li>Current Officers may not run for a second consecutive term in the same position. They may however run for other positions.
                    	</li>
                    	<li class="header-small">The election for the Chair position will happen first, followed by the election for the Vice Chair position, followed by the election for Treasurer position, followed by the election for the Secretary position. Ballots shall be counted after the election of each position and those candidates not voted into office may opt to run for another office.
                    	</li>
                    	<li>The eligible candidate with the most votes for a particular office shall be considered elected to that particular office and shall thus become ineligible for election to any other office for that term.
                    	</li>
                    </ol>
                </li>
                <li>
            	    Duties of the Officers
                    <ol>
                        <li>
                            Chair
                            <ol>
                            	<li>To organize, call, and preside at all general meetings, special events, and Executive Council meetings.
                            	</li>
                            	<li>To appoint officers to complete terms in the event of resignations with a majority vote of the Executive Council concurring.
                            	</li>
                            	<li>To be responsible for all chapter correspondence with both chapter members and outside parties.
                            	</li>
                            	<li>To act as the official representative of the student chapter to the Department of Computer Science.
                            	</li>
                            </ol>
                        </li>
                        <li>
            	            Vice-Chair
                            <ol>
                            	<li>To assume the duties and powers of the Chair in the event of the Chair's absence.
                            	</li>
                            	<li>To assume the duties that are delegated to him or her by the Chair.
                            	</li>
                            	<li>To serve as the official contact between student members and the National and Regional ACM, and to appoint delegates to those meetings, if deemed necessary.
                            	</li>
                            </ol>
                        </li>
                        <li>
                            Treasurer
                            <ol>
                            	<li>To collect all monetary obligations to the chapter, such as dues and any other money as may by raised for the chapter.
                            	</li>
                            	<li>To manage any transactions and transactional entities within ACM@UIUC.
                            	</li>
                            	<li>To withdraw and deposit funds for ACM@UIUC as needed and by proper authorization of the Chair and Executive Council.
                            	</li>
                            	<li>To keep the ACM financial records ready for inspection at all times. On the expiration of this term of office, he or she shall transmit to his or her successor all books, papers, and property of the Chapter as it pertains to his or her office and to the extent possible will instruct his or her successor in the duties of the Treasurer.
                            	</li>
                            	<li>To complete and submit the Annual Financial Report to ACM Headquarters.
                            	</li>
                            </ol>
                        </li>
                        <li>
                            Secretary
                            <ol>
                            	<li>To keep minutes of all chapter meetings and Executive Council meetings.
                            	</li>
                            	<li>To keep ACM@UIUC Membership apprised of the activities of ACM@UIUC, specifically with regards to SIGs and Projects.
                            	</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Executive Council
            <ol>
            	<li>The Executive Council shall consist of all Officers, a designated representative of each SIG, and a designated representative of each Committee.
            	</li>
            	<li class="header-small">The Executive Council meetings shall be open for attendance to any ACM member, unless the meeting is otherwise specified by the ACM Chair.
            	</li>
            	<li>The Executive Council shall meet when called by the Chair or when called by a minimum of one-third of the Executive Council membership.
            	</li>
            	<li>Executive Council voting rights extend only to those official members of the Executive Council.
            	</li>
            	<li>Membership in the Executive Council may be revoked from any Executive Council member demonstrating behavior that a substantial violation of the official ACM Code of Integrity or upon extreme dereliction of duty upon a three-fourths affirmative vote of the Executive Council. The vote must be preceded by a hearing in accordance with the Appeal Process.
            	</li>
                <li>
        	        Executive Council Decisions
                    <ol>
                    	<li>Any Executive Council vote must have a Quorum of two-thirds of Executive Council Votes in attendance.
                    	</li>
                    	<li>Any Executive Council decision must be agreed upon by a defined percentage of all Executive Council votes in the Quorum.
                    	</li>
                    	<li>Unless otherwise specified a decision must be agreed upon by a majority percentage of Executive Council Votes.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Special Interest Groups
            <ol>
                <li>
                    Formation
                    <ol>
                    	<li>Any group that consists of at least five members may apply to become a Special Interest Group of this Chapter. There must be at least one member to serve as Chair of the proposed SIG.
                    	</li>
                    	<li>The SIG Chair(s) must be an Active Member of ACM@UIUC.
                    	</li>
                    	<li>Each semester the SIG Chair(s) may specify up to one other designated representative to the Executive Council for that semester, who must also be an Active Member of ACM@UIUC.
                    	</li>
                    	<li>A written or electronic application for the formation of a SIG must be presented to the Executive Council.
                    	</li>
                    	<li>Upon approval of two-thirds of the Executive Council, the SIG officially becomes an active SIG of this Chapter.
                    	</li>
                    </ol>
                </li>
                <li>
                    Responsibilities
                    <ol>
                    	<li>A SIG of this Chapter must hold meetings at least once per month during the Spring and Fall Semesters.
                    	</li>
                    	<li>A SIG of this Chapter must have a designated representative present at each Executive Council meeting. A SIG must not miss more than four Executive Council meetings during a semester.
                    	</li>
                    	<li>A SIG of this Chapter must submit a written or electronic update to the Officers once per month describing the SIG's recent activities, especially related to active projects.
                    	</li>
                    </ol>
                </li>
                <li>
                    Privileges
                    <ol>
                    	<li>A SIG of this Chapter will be allowed to use Chapter office space for its meetings and projects and the Chapter laboratory with approval of the Executive Council.
                    	</li>
                    	<li>A SIG of this Chapter will be allowed to use Chapter computing resources in accordance with the Cluster Acceptable Use Policy.
                    	</li>
                    	<li>A SIG of this Chapter will be able to use the ACM@UIUC name in promotion of that SIG or its events.
                    	</li>
                    	<li>A SIG will be provided a mailbox in the ACM office for SIG related correspondence.
                    	</li>
                    	<li>A SIG of this Chapter is allowed to submit funding requests to the Executive Council.
                    	</li>
                    </ol>
                </li>
                <li>
                    Removal
                    <ol>
                    	<li>If a SIG of this Chapter does not adhere to these responsibilities, it may be removed from ACM by a two-thirds vote of the Executive Council.
                    	</li>
                    	<li>If a SIG of this Chapter does not adhere to these responsibilities, it will be placed on probation, which may be appealed by a majority vote of the Executive Council at any time.
                    	</li>
                    	<li>If at any point a SIG does not have a Chair the SIG is automatically removed from ACM.
                    	</li>
                    	<li>Resources owned by a removed SIG will be transferred to ACM@UIUC and may be reallocated by an Executive Council Vote.
                    	</li>
                    </ol>
                </li>
                <li>
                    Probation
                    <ol>
                    	<li>While on probation a SIG cannot make Executive Council requests.
                    	</li>
                    	<li>While on probation a SIG cannot vote on the Executive Council.
                    	</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Official Projects
            <ol>
                <li>
                    Formation
                    <ol>
                    	<li>Any member of ACM@UIUC may start a project not associated with a SIG by submitting a written proposal to the Executive Council.
                    	</li>
                    	<li>Upon receiving a two-thirds favorable Executive Council vote the project will be an Official ACM@UIUC Project, subject to these project guidelines.
                    	</li>
                    </ol>
                </li>
                <li>
                    Responsibilities
                    <ol>
                    	<li>A Project must submit written updates to the ACM Officers once per month describing Project progress.
                    	</li>
                    </ol>
                </li>
                <li>
                    Privileges
                    <ol>
                    	<li>A Project of this Chapter will be allowed to use Chapter office space for its meetings and projects and the Chapter laboratory with approval of the Executive Council.
                    	</li>
                    	<li>A Project may submit funding requests to the Executive Council.
                    	</li>
                    	<li>A Project may use the ACM@UIUC name in promotion of that project.
                    	</li>
                    	<li>A Project may use the Chapter Computing Resources in accordance with the Cluster Acceptable Use Policy.
                    	</li>
                    </ol>
                </li>
                <li>
                    Removal
                    <ol>
                    	<li>A Project that does not adhere to these responsibilities may be removed from ACM by a two-thirds vote by the Executive Council.
                    	</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Committees
            <ol>
                <li>
                    Formation
                    <ol>
                    	<li>The Officers may form a new Committee by presenting the purpose and responsibilities of the Committee to the Executive Council.
                    	</li>
                    	<li>Committees are delegates of the Officers' powers, documented in the Committee Handbook.
                    	</li>
                    </ol>
                </li>
                <li>
                    Chair Appointment
                    <ol>
                    	<li>The Chair of each committee will be appointed by unanimous consensus of the Officers and the previous Chair of the Committee.
                    	</li>
                    	<li>This appointment will take place in accordance with the specific Committee's guidelines.
                    	</li>
                    </ol>
                </li>
                <li>
                    Removal
                    <ol>
                    	<li>At any time a Committee may be removed by a two-third vote of the Executive Council.
                    	</li>
                    	<li>At any time a Committee may be removed by Officer consensus.
                    	</li>
                    </ol>
                </li>
                <li>
                    Privileges
                    <ol>
                    	<li>A Committee will be allowed to use Chapter office space for its meetings and projects and the Chapter laboratory with approval of the Executive Council.
                    	</li>
                    	<li>A Committee will be allowed to use Chapter computing resources in accordance with the Cluster Acceptable Use Policy.
                    	</li>
                    	<li>A Committee will be able to use the ACM@UIUC name in promotion of events.
                    	</li>
                    	<li>A Committee will be provided a mailbox in the ACM office for Committee related correspondence.
                    	</li>
                    	<li>A Committee is allowed to submit funding requests to the Executive Council.
                    	</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Disbursements
            <ol>
            	<li>Disbursements from the treasury shall be made by the Treasurer only after authorization from a two-thirds vote of the Executive Council, and only with the Treasurer's approval.
            	</li>
            	<li>Disbursements from the treasury of the Chapter shall be noted in the weekly minutes.
            	</li>
            	<li>Disbursements may only be used for their approved purpose and only for up to the amount approved by the Executive Council.
            	</li>
            	<li>Disbursement requests cannot be made for past purchases.
            	</li>
            	<li>Any purchases made with disbursements are the property of ACM@UIUC but are managed by the requesting party. If the requesting party is removed from ACM@UIUC, management of these purchases will be transferred to the Executive Council.
            	</li>
            </ol>
        </li>
        <li>
            Amendments and Modification
            <ol>
            	<li>All amendments must be approved by both the Executive Council and Active Membership.
            	</li>
            	<li>All amendments to the constitution must be submitted, in writing or electronically, to the Executive Council at least one week before formal consideration.
            	</li>
            	<li>The Executive Council can approve amendments by a two-thirds affirmative vote of the Executive Council.
            	</li>
            	<li>Approved amendments must be submitted, in writing or electronically, to active membership at least one week before formal consideration.
            	</li>
            	<li>After Executive Council approval, Active Membership can formally approve the amendment by a two-thirds affirmative vote of respondents.
            	</li>
            </ol>
        </li>
        <li>
            Appeal Process
            <ol>
            	<li>Conflicts may be resolved by a closed discussion involving the ACM Officers, the individuals involved, and any other individuals with knowledge relevant to the conflict.
            	</li>
            </ol>
        </li>
        <li>
            Referenced Documents
            <ol>
            	<li>Changes to documents referenced by this constitution which are controlled by ACM@UIUC are subject to a two-thirds Executive Council Vote.
            	</li>
            </ol>
        </li>
        <li>
            Miscellaneous
            <ol>
            	<li>Rulings on any point of procedure not included in this constitution shall be made by the Chair with approval of the Vice-Chair subject to review and overruling by a two-thirds affirmative vote by the Executive Council.
            	</li>
            	<li>In the event of dissolution of this Chapter, all assets will be transferred to the national ACM organization unless the University of Illinois requires that such assets be transferred to it for a purpose within the contemplation of section 501(c) of the Internal Revenue Code of 1954.
            	</li>
            </ol>
        </li>
    </ol>
</div>
<p>
    By submitting this document you certify that you are {{ name }}.
</p>
<form method="post">
    {% csrf_token %}
    <div class="control-group">
        <div class="controls">
            <label class="radio">
                <input type="radio" name="vote" id="vote_true" value="true">
                Accept
            </label>
            <label class="radio">
                <input type="radio" name="vote" id="vote_false" value="false">
                Reject
            </label>
        </div>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}