{% extends "base.html" %}
{% block content %}
	
<header class="page-header">
	<h1>Sponsorship Information</h1>
</header>
<p>
	ACM@UIUC would not be able to fund projects and events without the support of the CS department and generous sponsors.  Funding from sponsorships goes into creating better technical projects, building the infrastructure to support our members and holding events.  Sponsorship opportunities are available in tiers that contain some, or all, of the following benefits:
</p>
<section>
	<h2>Sponsorship Tiers</h2>
	<p>
	<b>Gold Sponsor - $2500</b>
	<ul>
		<li>Invitation to attend ACM@UIUC Spring Showcase</li>
		<li>Logo on ACM@UIUC Sponsorship page as gold sponsor</li>
		<li>Logo added to the ACM@UIUC Electronic Display Board as a sponsor</li>
		<li>1-year subscription to the ACM@UIUC resume book</li>
	</ul>
	</p>
	<p>
	<b>Silver Sponsor - $1000</b>
	<ul>
		<li>Logo on ACM Sponsorship page as silver sponsor</li>
		<li>Logo added to the ACM@UIUC Electronic Display Board as a sponsor</li>
		<li>1-year subscription to the ACM@UIUC resume book</li>
	</ul>
	</p>
	<p>
	<b>Bronze Sponsor - $500</b>
	<ul>
		<li>Logo on ACM Sponsorship page as bronze sponsor</li>
		<li>1-year subscription to the ACM@UIUC resume book</li>
	</ul>
	</p>

</section>

<section>
	<h2>Sponsorship Benefits</h2>
	<p>
		<b>An Invitation to the ACM@UIUC Spring Showcase</b>
		Join us in the Spring Semester for the ACM@UIUC Spring Showcase!  During this event we will welcome our new ACM student leaders, review some of the events we’ve hosted, and present the projects that our special interest groups have created during the school year.  Open to all ACM@UIUC members it’s a great opportunity to network with students who are involved in CS outside of classwork.  This is only available to Gold Sponsors.
	</p>

	<p>
		<b>Logo on ACM@UIUC Website as Sponsor</b>
		Have your logo included on the ACM@UIUC website sponsorship page for the year.  Sponsors are separated by level.
	</p>

	<p>
		<b>Logo on the ACM@UIUC Display Board</b>
		Have your logo displayed on the electronic display board  in the ACM@UIUC Office for the year.
	</p>

	<p>
		<b>One year resume book subscription</b>
		The ACM@UIUC Resume Book is a filterable database of PDF resumes uploaded by current students.  All new or updated resumes are available as soon they are added.  Access will be available starting in early Fall 2014.
	</p>

	<p>
		The tier levels are listed on the following page with their associated cost.  A one year resume book subscription may be purchased for $300, but all other benefits are only available through sponsoring.
	</p>
</section>

{% endblock %}