{% extends "intranet/base.html" %}
{% load bootstrap %}
{% load job_lookup %}
{% block intranet_content %}
<header class="page-header">
<h1>Job Manager</h1>
</header>
{% if job_count %}
<form method="post">
  {% csrf_token %}
  {{ jobs.management_form }}

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary pull-right" name="Save">Save</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Approve</th>
    <th>Message</th>
  <tr>
  </thead>
  <tbody>
  {% for m in jobs %}
  <tr>
    <td>{{m.id}}{{m.status}}</td>
    <td>
      <strong>Posted on:</strong> {{m.id.value|pk_to_postdate}}<br>
      <strong>Company:</strong> {{m.id.value|pk_to_company}}<br>
      <strong>Types:</strong> {{m.id.value|pk_to_types}}<br>
      <strong>Contact:</strong> {{m.id.value|pk_to_contact}}, {{m.id.value|pk_to_phone}}<br>
      <strong>Position:</strong> {{m.id.value|pk_to_title}}<br>
      <strong>Description:</strong><br>
      <p>{{m.id.value|pk_to_description}}</p>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary pull-right" name="Save">Save</button>
  </div>
</div>
</form>
{% else %}
<p>No jobs!</p>
<p>Wait thats a bad thing. No jobs, no money.</p>
<p>:(</p>
<p>I wish we had jobs.</p>
{% endif %}
{% endblock %}