
/*
#POST LIST
*/

.post{
    padding: 2em 0;
    border-bottom: 1px solid #eeeeee;
}
    .post:first-child{
        padding-top: 0px;
    }


.post-info{
    text-transform: uppercase;
    margin: 0 0 .3em;
    display: block;
}

.post-title{
    display: inline-block;
}

    .post-title > a{
        color: inherit;

    }
        .post-title > a:hover{
            text-decoration: none;
            color: #0088cc;
        }

.post-preview{

}
    .post-preview > .markdown-container {
        margin: 0 0 1.618em 0;
        font-size: 1.33em;
    }


/*
#POST
*/
.title{
  font-size: 2rem;
  font-weight: bolder;
}
.post-subtitle{
  margin-top: .5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 1.2rem;
  color: #555;
}

.newPost-btn{
  margin-top: 1%;
}

.editPost-btn{
  margin-right: 1%;
}

.post-submit .controls{
  padding-bottom: 1%;
}
