body {
   background:url("/static/img/whitey.png");
}

.header{
   height:137px;
   background:#ffffff;
   width:980px;
   margin-left:-20px;
   
   position:relative;
}

.header_bar{
   background: #3dade1; /* Old browsers */
   background: -moz-linear-gradient(top,  #3dade1 0%, #0083ba 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3dade1), color-stop(100%,#0083ba)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #3dade1 0%,#0083ba 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #3dade1 0%,#0083ba 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #3dade1 0%,#0083ba 100%); /* IE10+ */
   background: linear-gradient(top,  #3dade1 0%,#0083ba 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dade1', endColorstr='#0083ba',GradientType=0 ); /* IE6-9 */
   
   height:100px;
   margin-bottom:15px;
   width:1010px;
   margin-top:25px;
   margin-left:-15px;
}

.logo{
   margin-top:-25px;
   float:left;
}

.ilogo{
   float:right;
   margin-top:25px;
   margin-right:15px;
}

a.brand,a:hover.brand{
   color:#FFFFFF;
   text-decoration:none;
}

a.brand div{
   position:relative;
   top:28px;
   left:12px;
}

a.brand strong{
   margin-top:15px;
   font-size:24px;
   font-weight:normal;
}

a.brand em{
   font-style:normal;
   font-size:18px;
   color:#dcdcdc;
}

.main_nav{
   margin-top:-12px;
}

.right_nav{
   margin-bottom:0px;
   margin-right:15px;
}

.nav_name{
   padding-top: 8px;
   padding-bottom: 8px;
   margin-top: 2px;
   margin-bottom: 2px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding-right: 12px;
   padding-left: 12px;
   margin-right: 2px;
   line-height: 14px;
   display:block;
}

.main{
   background:#ffffff;
   padding:20px;
   border-bottom:3px solid #3dade1;
}

footer{
   margin-top:15px;
   margin-bottom:15px;
}

.carousel-control {
  display:none;
}

div.carousel-inner:hover ~ a.carousel-control {
  display:block;
}



.controls ul li input[type='checkbox']{
   display: inline;
}

.controls ul li{
   list-style: none;
}

.help-block{
   display:none;
}