<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ACM - University of Illinois at Urbana-Champaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
    {% block top_styles %}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/favicon.ico">
      <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30929649-1']);
          _gaq.push(['_trackPageview']);

          (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

      </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header_bar">
		  <a href="http://illinois.edu" class="ilogo">
            <img src="/static/img/ilogo.png">
		  </a>
          <a class="brand" href="/">
            <img src="/static/img/logo.png" width="150" height="150" class="logo">
            <div>
              <strong>Association for Computing Machinery</strong><br>
              <em>University of Illinois at Urbana-Champaign</em>
            </div>
          </a>

        </div>
        <ul class="nav nav-pills main_nav">
          <li{% if section == 'about' %} class='active'{% endif %}><a href="/about">About</a></li>
          <li{% if section == 'calendar' %} class='active'{% endif %}><a href="/calendar">Calendar</a></li>
          <li{% if section == 'sigs' %} class='active'{% endif %}><a href="/sigs">SIGs</a></li>
          <!-- <li{% if section == 'banks' %} class='active'{% endif %}><a href="/banks">Banks</a></li> -->
          <li{% if section == 'conference' %} class='active'{% endif %}><a href="/conf">Conference</a></li>
          <li{% if section == 'corporate' %} class='active'{% endif %}><a href="/corporate">Corporate</a></li>
          <li{% if section == 'contact' %} class='active'{% endif %}><a href="/contact">Contact</a></li>
          <li{% if section == 'intranet' %} class='active'{% endif %}><a href="/intranet">Intranet</a></li>
          <ul class="nav nav-pills pull-right right_nav">
            {% if user.is_anonymous %}
            <li><a href="/login">Login</a></li>
            {% else %}
            <li class="nav_name">Hi, {{user.first_name}}!</li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </ul>

      </div>
    </div>


    <div class="container main">
        {% if messages %}
          {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message }}  </div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div> <!-- /container -->

    <footer class="container">
        ACM@UIUC | 
        <a href="tel:12173335828">(217)-333-5828</a> | 
        <a href="mailto:acm@illinois.edu">acm@illinois.edu</a> | 
        Ste. 1104 Thomas M. Siebel Center for Computer Science, 201 N. Goodwin Ave. Urbana, IL 61801 | 
        <a class="icon ion-social-github footer-icon" href="http://github.com/acm-uiuc/"></a><a class="icon ion-social-twitter footer-icon" href="https://twitter.com/acmuiuc"></a><a class="icon ion-social-facebook footer-icon" href="https://www.facebook.com/acmuiuc"></a>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block bottom_scripts %}
    {% endblock %}
  </body>
</html>
