{% extends "base.html" %}
{% block content %}
<header class="page-header">
<h1>Reflections | Projections</h1>
</header>
<p>
  Seventeen years ago, the student chapter of the Association for Computing Machinery at the University of Illinois (ACM@UIUC) held its first computing conference. 150 students from across the midwest attended the event, which was supported by fourteen corporations.
</p>
<p>
  Since its beginning, the conference has grown to include the MechMania programming contest and a job fair. This year, we're proud to welcome you to the 18th annual conference from October 5-7, 2012, at the Urbana-Champaign campus. We expect to have over 700 student attendees and 25 corporate sponsors.
</p>
<p>
  ACM could not host Reflections | Projections without the generous support of our sponsors. Their donations fund all the events and help keep student fees low.
</p>
<p>For more information visit the website: <a href="http://www.acm.uiuc.edu/conference/">http://www.acm.uiuc.edu/conference/</a>.</p>
{% endblock %}
