{% extends "base.html" %}
{% block content %}
<header class="page-header">
<h1>Contact ACM@UIUC</h1>
</header>
<div class="row">
  <div class="span6">
    <h2>Contacts</h2>
    <p><strong>Chair</strong><br>
        Robert Pieta<br>
        <a href="mailto:acm@illinois.edu">acm@illinois.edu</a>
    </p>
    
    <p><strong>Vice Chair</strong><br>
        Clare Curtis<br>
       <a href="mailto:vice-chair@acm.uiuc.edu">vice-chair@acm.uiuc.edu</a>
    </p>
    
    <p><strong>Treasurer</strong><br>
       Nikoli Dryden<br>
       <a href="mailto:treasurer@acm.uiuc.edu">treasurer@acm.uiuc.edu</a>
    </p>
    
    <p><strong>Secretary</strong><br>
       Brendan Ryan<br>
       <a href="mailto:secretary@acm.uiuc.edu">secretary@acm.uiuc.edu</a>
    </p>
    
    <p><strong>Cluster Admins</strong><br>
       Dylan Nugent, 
       Josh Ginsburg, 
       Sam Laane, 
       Cole Gleason, 
       Matthew Dierker, 
       Nathan Handler, 
       Calvin Shirley
       <br>
       <a href="mailto:admin@acm.uiuc.edu">admin@acm.uiuc.edu</a>
     </p>

     <p><strong>Corporate Committee</strong><br>
        Nikoli Dryden, Jicong Wang, 
        Nelson Osacky, Cole Gleason, 
        Nathan Handler<br>
        <a href="mailto:corporate@acm.uiuc.edu">corporate@acm.uiuc.edu</a>
     </p>
     
     <p><strong>Social Chairs</strong><br>
        Clare Curtis, Matthew Dierker<br>
        <a href="mailto:social@acm.uiuc.edu">social@acm.uiuc.edu</a>
     </p>
     
     <p><strong>Banks Editor</strong><br>
        Brendan Ryan<br>
        <a href="mailto:boneyard@acm.uiuc.edu">boneyard@acm.uiuc.edu</a>
      </p>

  </div>
  <div class="span6">
    <h2>Address</h2>

    <p>Association for Computing Machinery<br>
    1104 Siebel Center for Computer Science<br>
    201 N Goodwin Avenue<br>
    Urbana, IL 61801</p>

    <h2>Office Phone</h2>

    <p>(217) 333&ndash;5828</p>
    <p>
    If you have general questions about ACM, you can call our office between 9 AM and 5 PM Monday through Friday, and someone will be happy to answer them.  If you prefer email, send mail to <a href="mailto:acm@illinois.edu">acm@illinois.edu</a>.
    </p>
  </div>
</div>
{% endblock %}
