{% extends "base.html" %}
{% block content %}
<header class="page-header">
<h1>Contact ACM@UIUC</h1>
</header>
<div class="row">
  <div class="span6">
    <h2>Contacts</h2>
    <p><strong>Chair</strong><br>
        Sujay Khandekar<br>
        <a href="mailto:acm@illinois.edu">acm@illinois.edu</a>
    </p>
    
    <p><strong>Vice Chair</strong><br>
        Laura Licari<br>
       <a href="mailto:vice-chair@acm.illinois.edu">vice-chair@acm.illinois.edu</a>
    </p>
    
    <p><strong>Treasurer</strong><br>
       Sebastian Conybeare<br>
       <a href="mailto:treasurer@acm.illinois.edu">treasurer@acm.illinois.edu</a>
    </p>
    
    <p><strong>Secretary</strong><br>
       Connie Fan<br>
       <a href="mailto:secretary@acm.illinois.edu">secretary@acm.illinois.edu</a>
    </p>
    
    <p><strong>System Administrators</strong><br>
       Calvin Shirley,
       Nathan Handler,
       Adam Madsen,
       Eric Sauer,
       Milan Dasgupta,
       Jake Bailey,
       Sam Fu,
       Luke Liu
       <br>
       <a href="mailto:admin@acm.illinois.edu">admin@acm.illinois.edu</a>
     </p>

     <p><strong>Corporate Committee</strong><br>
        Zach Miller, Amanda Sopkin, 
        Mike Parilla, Aashna Makkar
        David Zmick, Karunya Tota,
        Harshit Kumar <br>
        <a href="mailto:corporate@acm.illinois.edu">corporate@acm.illinois.edu</a>
     </p>

     <p><strong>Projects Chair</strong><br>
        Kevin Wang, Milan Dasgupta<br>
        <a href="mailto:projects@acm.illinois.edu">projects@acm.illinois.edu</a>
     </p>
     
     <p><strong>Social Chair</strong><br>
        Laura Licari<br>
        <a href="mailto:social@acm.illinois.edu">social@acm.illinois.edu</a>
     </p>
     
     <p><strong>Banks Editor</strong><br>
        Connie Fan<br>
        <a href="mailto:boneyard@acm.illinois.edu">boneyard@acm.illinois.edu</a>
      </p>

  </div>
  <div class="span6">
    <h2>Address</h2>

    <p>Association for Computing Machinery<br>
    1104 Siebel Center for Computer Science<br>
    201 N Goodwin Avenue<br>
    Urbana, IL 61801</p>

    <h2>Office Phone</h2>

    <p>(217) 333&ndash;5828</p>
    <p>
    If you have general questions about ACM, you can call our office between 9 AM and 5 PM Monday through Friday, and someone will be happy to answer them.  If you prefer email, send mail to <a href="mailto:acm@illinois.edu">acm@illinois.edu</a>.
    </p>
  </div>
</div>
{% endblock %}
