{% extends "base.html" %}

{% block top_styles %}
   <link href="/static/css/banks.css" rel="stylesheet">
{%endblock%}

{% block content %}
<header class="page-header">
{% if user.is_top4 %}
  <a href="{% url banks.views.new %}" class="newPost-btn btn btn-primary pull-right">New Post</a>
{% endif %}
<h1>Banks of the Boneyard</h1>
</header>

{% if posts %}
<div>
  <ul class="posts-list">
    <!-- Posts !-->
    {% for post in posts.object_list %}
    <li class="post">
        <div class="post-header">
            <h2 class="post-title"><a href='{% url banks.views.viewPost post.slug %}'>{{post.title}}</a></h2>
            <span class="post-info pull-right">{{post.creator}} - {{post.date_publish}}</span>
        </div>
        <p class="post-preview">{{post.subtitle|truncatechars:100|safe}}</p>
    </li>
    {% endfor %}
  </ul>

  <!-- Next/Prev Post links !-->
  {% if posts.object_list and posts.paginator.num_pages > 1 %}
  <div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
      <a class="pull-right" href="?page={{ posts.previous_page_number }}">Newer</a>
    {% endif %}
    {% if posts.has_next %}
      <a class="pull-left" href="?page={{ posts.next_page_number }}">Older</a>
    {% endif %}
  {% endif %}
  </span>
</div>

{% else %}
  No Posts :(
</div>
{% endif %}

{% endblock %}
