{% extends "intranet/base.html" %}
{% block intranet_content %}
<header class="page-header">
<h1>Member Manager</h1>
</header>
<form class="well form-search" method="GET" action="/intranet/members/search">
  <input type="text" name="q" class="input-medium search-query" value="{{q}}">
  <button type="submit" class="btn">Search</button>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Netid</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Joined ACM</th>
    <th>Left UIUC</th>
    <th>Status</th>
  <tr>
  </thea>
  <tbody>
  {% for m in members %}
  <tr>
    <td>{{m.netid}}</td>
    <td>{{m.first_name}}</td>
    <td>{{m.last_name}}</td>
    <td>{{m.joined}}</td>
    <td>{{m.left_uiuc}}</td>
    <td>{{m.get_status_display}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}