<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ACM - University of Illinois at Urbana-Champaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">ACM@UIUC</span></a>
            <ul class="nav">
              <li><a href="/about">About</a></li>
              <li><a href="/calendar">Calendar</a></li>
              <li><a href="/sigs">SIGs</a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="http://www.acm.uiuc.edu/conference/">Conference</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/intranet">Intranet</a></li>
            </ul>
            <form class="navbar-search pull-right" action="">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
      <hr>

      <footer>
        © ACM@UICU | <a href="mailto:webmaster@acm.uiuc.edu">webmaster@acm.uiuc.edu</a> | office phone (217) 333-5828 | email <a href="acm@uiuc.edu">acm@uiuc.edu</a>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>


  </body>
</html>
