{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="row">
  <div class="span4">
  <form class="well" method="post">
  {% csrf_token %}
  {{ form|bootstrap }}
  <div class="control-group">
    <div class="controls">
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  </form>
</div>
<div class="span6">
  <p>Your username is your netid. Your password is your Campus Active Directory password.</p>
</div>
</div>
{% endblock %}
