{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="row">
  <div class="span4">
  <form class="well" method="post">
  {% csrf_token %}
  {{ form|bootstrap }}
  <div class="control-group">
    <div class="controls">
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  </form>
</div>
<div class="span6">
  <p>
  Your username is your netid. Your password is your LDAP password. 
  Don't have an LDAP password? Run this from a Linux cluster machine: 
  /afs/acm.uiuc.edu/admin/scripts/set-ldap-password 
  Don't have a cluster account? Email <a href="mailto:admin@acm.uiuc.edu">admin@acm.uiuc.edu</a>

  </p>
</div>
</div>
{% endblock %}
