{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="span9">
      {% block about_content %}
      {% endblock %}
    </div>
    <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li{% if page == 'main' %} class='active'{% endif %}>
              <a href="/about">About</a>
            </li>
            <li{% if page == 'join' %} class='active'{% endif %}>
              <a href="/about/join">Join</a>
            </li>
            <li{% if page == 'committees' %} class='active'{% endif %}>
              <a href="/about/committees">Committees</a>
            </li>
            <li{% if page == 'members' %} class='active'{% endif %}>
              <a href="/about/members">Members</a>
            </li>
            <li{% if page == 'sponsors' %} class='active'{% endif %}>
              <a href="{% url sponsors %}">Sponsors</a>
            </li>
          </ul>
        </div><!--/.well -->
      </div>
</div>
{% endblock %}