{% extends "about/base.html" %}
{% block about_content %}
<header class="page-header">
<h1>About ACM@UIUC</h1>
</header>

<section>
<h2>General Introduction</h2>

<p>
ACM@UIUC is a 501(c)(3) non-for-profit student chapter of the Association for
Computing Machinery, a professional society dedicated to advancing human
capabilities through information technology. Founded in 1947, the Association
for Computing Machinery (ACM) is the largest and oldest international scientific
and educational computer society in the industry today. Organized only a year
after the unveiling of ENIAC, the first general purpose electronic computer, ACM
was established by mathematicians and electrical engineers to advance the The
student chapter at the University of Illinois was initially the Department of
Computer Science's undergraduate student organization starting in 1965 and was
officially formed as a student chapter of the ACM on November 1, 1967.
</p>

<p>
ACM@UIUC is a group of dedicated people who are interested in exploring the
possibilities of computers and learning more about how to use and develop them.
ACM is divided into Special Interest Groups, or SIGs, which focus on specific
interest areas in computer science and computing. Each SIG holds its own
meetings. Each SIG is responsible for orginizing its own activities and
determining its own purpose. Several SIGs are project based, with the majority
of their activities dedicated to computing projects in their area of interest,
often presented at Engineering Open House. Some SIGs run workshops and tech
talks to discuss topics related to their interest group. To find out more about
our SIGs, visit the <a href="/sigs">SIG page</a> and attend a meeting.
</p>

<p>
ACM also hosts several general events, which are listed on our <a href="/calendar">
calendar page</a>. These events include social activities (such as picnics, swim
nights, activity weeks, game nights), outreach activities (such as ACM Open House,
Student Lecture Series, and educational activities for high school and middle
school students), and the annual Reflections | Projections conference.  All ACM
activities and SIG meetings are open to the entire University community,
regardless of computer experience and background.
</p>

<p>
ACM@UIUC holds an Exec meeting most Mondays, at which the direction on ACM is
defined. Everyone is welcome to attend and make suggestions for new ACM groups
or events. Decisions about such events and other important ACM matters are also
made at these meetings.
</p>
</section>

<section>
<h2>Facilities</h2>

<h3>1104 Siebel - The ACM Office</h3>

<p>The ACM@UIUC office is located in room 1104 of the Thomas M. Siebel Center for Computer Science (SC) along the main hallway. ACM's office space includes 3 rooms and limited access to the student projects and embedded real-time systems labs, all thanks to the Computer Science Department.</p>

<p>The ACM Office is open from 9 AM to 5 PM most schooldays, and is manned by members of the Exec Board. Although our official hours are 9 to 5, members (especially the sysadmins) have been known to haunt the office until the wee hours of the morning. Stop in and join the ACM Up All Night Crew.</p>

<h3>1106 Siebel - ACM Computer Lab</h3>

<p>While there are computers in both 1104 and 1110, 1106 is home to the majority of the ACM Cluster. 1106 is frequently used for SIG dev sessions and tutorials. 1106 is also home to Caffeine, ACM's own networked soda machine [thanks to LUG and SIGEmbedded]</p>

<h3>1110 Siebel - ACM Electronics and Robotics Lab</h3>

<p>1110 is ACM's electronics and robotics lab. It is home to many hardware-intensive SIGs which need extra space and gear to work on their projects. Among the groups that use 1110 frequently are SigBot and SigArch. Access to 1110 is generally restricted due to the nature of the lab, and permitted where project work requires use of the lab.</p>
</section>

<section>
<h2>Links</h2>
<ul>
  <li><a href="http://www.acm.org/">National ACM</a></li>
  <li><a href="http://www.cs.uiuc.edu/">Department of Computer Science</a></li>
  <li><a href="http://www.ece.uiuc.edu/">Department of ECE</a></li>
  <li><a href="http://www.engr.uiuc.edu/">College of Engineering</a></li>
</ul>
</section>
{% endblock %}
