{% extends "intranet/base.html" %}
{% load bootstrap_pagination %}
{% load bootstrap %}

{% block intranet_content %}
<h2>All sodas</h2>
<div class="well">
  <a class="btn btn-primary" href="/intranet/caffeine/trays">Trays</a>
  {% if is_caffeine_admin %}
    <a class="btn btn-success" href="/intranet/caffeine/add">Add soda</a>
  {% endif %}
  <a class="btn" href="/intranet/caffeine/user">Users</a>
  <a class="btn" href="/intranet/caffeine/stats">Leaderboard</a>
</div>

{% if sodasPage.end_index != 0 %}

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Calories</th>
    <th>Caffeine (mg)</th>
    <th>Total Sold</th>
    <th>Cost</th>
    {% if is_caffeine_admin %}
      <th>Actions</th>
    {% endif %}
  </tr>

  {% for s in sodasPage %}
  <tr>
    <td>{{ s.name }}</td>
    <td>{{ s.calories }}</td>
    <td>{{ s.caffeine }}</td>
    <td>{{ s.total_sold }}</td>
    <td>{{ s.cost }}</td>
    {% if is_caffeine_admin %}
      <td>
        <a class="btn btn-primary btn-small" href='/intranet/caffeine/edit/{{ s.id }}'>
          Edit
        </a>
      </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% bootstrap_paginate sodasPage range=5 %}
{% endblock %}
