{% extends "intranet/base.html" %}
{% load bootstrap %}

{% block intranet_content %}
<header>
    <h1>
        {% if new_soda %}
            Add Soda
        {% else %}
            Edit Soda
        {% endif %}
    </h1>
</header>

<form class="well" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}

    <br />
    <div style="float: right" >
        <button type="submit" class="btn btn-primary" >
        {% if new_soda %}
            Add
        {% else %}
            Update
        {% endif %}
        </button>
        {% if not new_soda %}
            <a href="/intranet/caffeine/delete/{{ id }}" class="btn btn-danger">Delete</a>
        {% endif %}
        <a href="/intranet/caffeine/{{ from_arg }}" class="btn btn-secondary">Cancel</a>
    </div>
    <br />

</form>
{% endblock %}
