{% extends "intranet/base.html" %}
{% block top_styles %}
<link href="/static/css/token-input-facebook.css" rel="stylesheet">
<link href="/static/css/token-input.css" rel="stylesheet">
{% endblock %}
{% block intranet_content %}
<header class="page-header">
<h1>{{group}} - Add members</h1>
</header>
{% if added %}
  <div class="alert alert-success">
    <strong>Members added:</strong>
    <ul>
    {% for m in added %}
      <li>{{m.full_name}} ({{m.username}})</li>
    {% endfor %}
  </ul>
  </div>
{% endif %}
{% if badid %}
  <div class="alert alert-error">
    <strong>Bad ids:</strong>
    <ul>
    {% for m in badid %}
      <li>{{m}}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
{% if duplicate %}
  <div class="alert alert-info">
    <strong>Duplicate members:</strong>
    <ul>
    {% for m in duplicate %}
      <li>{{m.full_name}} ({{m.username}})</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
{% if added or badid or duplicate %}
  <p><a href="/intranet/group/manage/{{group.id}}" class="btn">Back</a></p>
{% endif %}

<form class="well" method="post">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="input">List netid's seperated by commas:</label>
    <div class="controls">
      <textarea class="input-xlarge span5" id="netids" rows="3" name="netids"></textarea>
      <span class="help-inline"></span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" name="add">Add</button>
    </div>
  </div>
</form>

{% endblock %}
{% block bottom_scripts %}
<script src="/static/js/jquery.tokeninput.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#netids").tokenInput([
        {% for m in members %}
        {id: "{{m.username}}", name: "{{m.full_name_and_netid}}"},
        {% endfor %}
    ],{theme: "facebook",preventDuplicates:true});
});
</script>
{% endblock %}